/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Covered+By+Your+Grace);



@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?f88hq7');
  src:  url('../fonts/icomoon/icomoon.eot?f88hq7#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?f88hq7') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?f88hq7') format('woff'),
    url('../fonts/icomoon/icomoon.svg?f88hq7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-slack-symbol:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube2:before {
  content: "\ea9e";
}


html {
    color: #fff;
    font-size: 1em;
    line-height: 1.4;

}



/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    border-top: 1px solid #ccc;
    border: 0;
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    background: #ccc;
    color: #000;
    margin: 0.2em 0;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
   background-size: 1200% 1200%;
   background: -o-linear-gradient(21deg, #062837, #18a2dc, #020d12, #116f97, #117896, #295296);
   background: -webkit-linear-gradient(21deg, #062837, #18a2dc, #020d12, #116f97, #117896, #295296);
   background: linear-gradient(111deg, #062837, #18a2dc, #020d12, #116f97, #117896, #295296);
   height:100vh;
  font-family: 'Covered By Your Grace', cursive;
  text-align: center;
   -webkit-animation: AnimationName 32s ease infinite;
   -moz-animation: AnimationName 32s ease infinite;
   animation: AnimationName 32s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 60%}
    50%{background-position:100% 41%}
    100%{background-position:0% 60%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 60%}
    50%{background-position:100% 41%}
    100%{background-position:0% 60%}
}
@keyframes AnimationName {
    0%{background-position:0% 60%}
    50%{background-position:100% 41%}
    100%{background-position:0% 60%}
}

#days {
  color: #db4844;
  font-size: 200px;
}
#hours {
  color: #f07c22;
  font-size: 150px;
}
#minutes {
  color: #f6da74;
  font-size: 100px;
}
#seconds {
  color: #abcd58;
  font-size: 50px;
}

span {
  color: white;
  display: block;
  font-size: 20px;
}

div {
  display: inline-block;
  font-size: 40px;
  line-height: 1;
  padding: 10px 10px 0 10px;
}



.font-secundary{
    font-family:'Roboto', sans-serif;
    font-weight: 100;
}

.list-none{
    list-style-type: none;
    margin-top:5rem;
}

.logo{
     background-image: url("../img/logo-wordpress-tulua.png");
     background-repeat: no-repeat;
     background-size: 200px 200px;
     display: block;
     height: 200px;
     text-indent: -99999px;
     width: 200px;
}

.margin-small{
    margin:0.2rem;
}

.share{
    display:flex;
    justify-content:space-around;
    width:200px;
}



.share a{
    color:white;
    font-size:1.3rem;
    text-decoration:none;
}

.facebook:hover{
    color:rgb(59, 89, 182);
}

.twitter:hover{
    color:rgb(64,153,255);
}

.slack:hover{
    color:#E6176F;
}

.youtube:hover{
    color:#FF3333;
}

.wrapper{
    align-items: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
